<h1>Edit a Task</h1>

<%= render "form" %>

<!--

<form action="/tasks" method="post">

<label for="name">Enter a Name</label>
<input type="text" name="task[name]">

<label for="name">Enter Description</label>
<input type="text" name="task[description]">

<label for="name">Enter Importance</label>
<input type="text" name="task[Importance]">

<input type="submit">

</form>
 -->
